* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

#root {
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100%;
  scrollbar-base-color: #000;
  scrollbar-face-color: rgb(53, 53, 53);
  /* scrollbar-3dlight-color: #000; */
  scrollbar-highlight-color: #000;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: rgb(53, 53, 53);
  scrollbar-shadow-color: #000;
  /* scrollbar-dark-shadow-color: #000; */
}

iframe {
  border: 1px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

ul {
  list-style: none;
  margin: 2px;
  padding-left: 0;
}

li {
  list-style: none;
}

.myApp {
  height: 100%;
  display: flex;
}

.aui-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aui-titlebar {
  background: url(./img/header.png);
  min-height: 32px;
  color: #dc8b49;
  font-size: 13px;
  line-height: 32px;
  padding-left: 5px;
}

.aui-camera-channel-body {
  flex-grow: 1;
  width: 243px;
  color: white;
  background: black;
  min-height: 270px;
}

.aui-camera-channel-bar {
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  color: #e1e1e1;
  font-size: 13px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.03rem;
  background: linear-gradient(rgb(98, 98, 98), rgb(45, 45, 45));
  padding: 2px 4px;
  height: 16px;
}

.aui-camera-channel-bar:hover {
  background: linear-gradient(rgb(210, 146, 54), rgb(190, 110, 25));
}

.aui-tree-area {
  flex-grow: 1;
  min-height: 230px;
}

.tree-node-main-node {
  display: flex;
  height: 22px;
}

.toggle-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(./img/Tree.png) 0 0;
}

.toggle-icon:hover {
  background: url(./img/Tree.png) -20px 0;
}

.expand {
  background: url(./img/Tree.png) -40px 0;
}

.expand:hover {
  background: url(./img/Tree.png) -60px 0;
}

.folder-icon {
  width: 20px;
  background: url(./img/Tree.png) 0 -20px;
}

.node-text {
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  flex-grow: 1;
  height: 22px;
  line-height: 20px;
  font-size: 14px;
  padding: 0 7px;
  margin-right: 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.node-text:hover {
  color: #f8a900;
  border: 1px solid #c0761d;
  background: rgba(192, 118, 29, 0.2);
}

.node-text:focus {
  border: 1px solid rgb(192, 118, 29);
  background: rgb(77, 47, 12);
}

.node-text.selected {
  border: 1px solid rgb(192, 118, 29);
  background: rgb(77, 47, 12);
}

.layer-2 {
  padding: 0 0 0 20px;
}

.layer-2.hidden {
  display: none;
}

.node-record {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.camera-icon {
  width: 20px;
  background: url(./img/Device-ACTi.png) 0 -40px;
}

.get-data-btn {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  user-select: none;
}

#dragDiv {
  position: absolute;
  color: white;
  font-size: 14px;
  padding: 3px 7px 3px 10px;
  border: 1px solid rgb(192, 118, 29);
  background: black;
  z-index: 2;
}

#dragDiv.hidden {
  display: none;
}

.live-view-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.live-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(./img/header.png);
  height: 32px;
  padding-top: 3px;
  width: 100%;
}

.control-bar-left {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.windows-size {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.windows-x1 {
  width: 100%;
  height: 100%;
  background: url(./img/Layout-icon.png) 0 -240px;
  margin-right: 2px;
}

.windows-x4 {
  width: 100%;
  height: 100%;
  background: url(./img/Layout-icon.png) 0 -300px;
  margin-right: 2px;
}

.windows-x1-x5 {
  width: 100%;
  height: 100%;
  background: url(./img/Layout-icon.png) 0 -420px;
  margin-right: 2px;
}

.windows-x1:hover {
  background: url(./img/Layout-icon.png) -30px -240px;
}

.windows-x4:hover {
  background: url(./img/Layout-icon.png) -30px -300px;
}

.windows-x1-x5:hover {
  background: url(./img/Layout-icon.png) -30px -420px;
}

.actived {
  background-position-x: -90px;
}

.settingGear {
  cursor: pointer;
  width: 26px;
  height: 30px;
  background: url(./img/Options-ContextMenu-icon.png) 0 -570px;
}

.settingGear:hover {
  background: url(./img/Options-ContextMenu-icon.png) -26px -570px;
}

.control-list {
  user-select: none;
  width: 240px;
  border: 1px solid rgb(90, 90, 90);
  color: #d3d3d3;
  font-size: 13px;
  position: absolute;
  top: 34px;
  right: 0;
  background: rgb(41, 41, 41);
  display: none;
  z-index: 2;
}

.list-Open {
  display: block;
}

.list-item {
  cursor: pointer;
  display: flex;
  height: 30px;
  line-height: 30px;
  padding-right: 15px;
  border: 1px solid transparent;
  margin: 2px;
}

.list-item:hover {
  background: linear-gradient(rgb(116, 88, 46), rgb(108, 72, 34));
  border: 1px solid rgb(220, 139, 73);
}

.control-icon {
  padding-right: 2px;
  border-right: 1px solid rgb(57, 57, 57);
}

.control-text {
  padding-left: 2px;
}

.switch-stretch .control-icon {
  width: 26px;
  height: 30px;
  background: url(./img/Options-ContextMenu-icon.png) 0 -690px;
}

.switch-title-display .control-icon {
  width: 26px;
  height: 30px;
  background: url(./img/Options-ContextMenu-icon.png) 0 -330px;
}

.switch-mute .control-icon {
  width: 26px;
  height: 30px;
  background: url(./img/Options-ContextMenu-icon.png) -200px -840px;
}

.disconnect-all .control-icon {
  width: 26px;
  height: 30px;
  background: url(./img/Options-ContextMenu-icon.png) 0 -510px;
}

.live-view-area {
  display: flex;
  height: 100%;
  position: relative;
  /* display: grid;
  grid-template-areas:
    "window1 window1 window2"
    "window1 window1 window3"
    "window4 window5 window6"; */
}

.hide {
  display: none;
}

.nvr-window {
  background: url(./img/control.jpg);
  background-size: 100% 100%;
  border: 2px solid rgb(67, 67, 67);
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.nvr-window.selected {
  border: 2px solid rgb(220, 139, 73);
}

.aui-nvr-ui-WebAssemblyController {
  position: relative;
  width: 100%;
  height: 100%;
}

.aui-nvr-ui-WebAssemblyController > div {
  display: none;
}

.aui-nvr-ui-WebAssemblyController > video {
  display: none;
}

.aui-nvr-ui-WebAssemblyController > canvas {
  position: absolute;
}

.window-No0 {
  /* grid-area: window1; */
  width: calc(100% / 3 * 2);
  height: calc(100% / 3 * 2);
  left: 0;
}
.window-No1 {
  width: calc(100% / 3 * 1);
  height: calc(100% / 3 * 1);
  left: calc(100% / 3 * 2);
}
.window-No2 {
  width: calc(100% / 3 * 1);
  height: calc(100% / 3 * 1);
  left: calc(100% / 3 * 2);
  top: calc(100% / 3 * 1);
}
.window-No3 {
  width: calc(100% / 3 * 1);
  height: calc(100% / 3 * 1);
  left: 0;
  top: calc(100% / 3 * 2);
}
.window-No4 {
  width: calc(100% / 3 * 1);
  height: calc(100% / 3 * 1);
  left: calc(100% / 3 * 1);
  top: calc(100% / 3 * 2);
}
.window-No5 {
  width: calc(100% / 3 * 1);
  height: calc(100% / 3 * 1);
  left: calc(100% / 3 * 2);
  top: calc(100% / 3 * 2);
}

.window-No0.x1 {
  width: 100%;
  height: 100%;
}
.window-No1.x1 {
  display: none;
}
.window-No2.x1 {
  display: none;
}
.window-No3.x1 {
  display: none;
}
.window-No4.x1 {
  display: none;
}
.window-No5.x1 {
  display: none;
}

.window-No0.x4 {
  width: 50%;
  height: 50%;
}
.window-No1.x4 {
  width: 50%;
  height: 50%;
  left: 50%;
}
.window-No2.x4 {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 0%;
}
.window-No3.x4 {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
}
.window-No4.x4 {
  display: none;
}
.window-No5.x4 {
  display: none;
}

.live-view-footer {
  background: url(./img/footer.png);
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.volume-area {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.volume-icon {
  width: 26px;
  height: 10px;
  background: url(./img/footer-volume-icon.png) 6px 0px no-repeat;
}

.mute {
  background: url(./img/footer-volume-icon.png) 6px -10px no-repeat;
}

.volume-block {
  width: 120px;
  height: 5px;
  border: 1px solid #555;
  padding: 1px;
  background: linear-gradient(to right, #555 50%, transparent 51%);
}

.event-panel-body {
  user-select: none;
  -ms-user-select: none;
  flex-grow: 1;
  color: white;
  background: black;
  /* max-height: 389px; */
}

.event-panel-title {
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  color: #e1e1e1;
  font-size: 13px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.03rem;
  background: linear-gradient(rgb(98, 98, 98), rgb(45, 45, 45));
  padding: 2px 4px;
  height: 16px;
}

.event-panel-title:hover {
  background: linear-gradient(rgb(210, 146, 54), rgb(190, 110, 25));
}

.event-panel-list {
  margin-top: 5px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 618px;
}

.event-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 60px;
  margin-bottom: 3px;
  border-radius: 4px;
  background: url(./img/EventPanel-bg.png);
}

.event-item:hover {
  background: url(./img/EventPanel-bg.png) 0 -130px;
}

.event-item.selected {
  background: url(./img/EventPanel-bg.png) 0 -130px;
}

.event-info {
  padding: 2px;
  padding-right: 0px;
  width: 168px;
  margin-left: 5px;
}

.event-icon.motion1 {
  width: 40px;
  height: 40px;
  background: url(./img/EventType-icon.png) -40px -40px;
}

.event-name {
  font-size: 13px;
  color: rgb(255, 169, 68);
}

.event-time {
  font-size: 13px;
  padding: 4px 0px 4px;
}

.devicename {
  font-size: 13px;
}
